<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>506775602039-dak84vgm4cdeih2ku4h22qa52fj9cbfg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506775602039-dak84vgm4cdeih2ku4h22qa52fj9cbfg</string>
	<key>API_KEY</key>
	<string>AIzaSyBZC-loBsNeeV4unh-MNL2vDUh3KKX3aVM</string>
	<key>GCM_SENDER_ID</key>
	<string>506775602039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>qootAlkulaib.Fb-Messenger</string>
	<key>PROJECT_ID</key>
	<string>fb-messenger-2f3f0</string>
	<key>STORAGE_BUCKET</key>
	<string>fb-messenger-2f3f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506775602039:ios:a4208a9ff102c9e1845772</string>
</dict>
</plist>